doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  style(type='text/css').
    .list-group-flush>.list-group-item {
    border-width: 0 0 1px;
    }
    .list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    }
.card(style='margin: 0 auto; max-width: 800px; border: 1px solid rgba(0,0,0,.125);\
border-radius: .25rem;')
  .card-header(style='text-align: center; padding: .75rem 1.25rem;\
  margin-bottom: 0;\
  background-color: rgba(0,0,0,.03);\
  border-bottom: 1px solid rgba(0,0,0,.125); border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;')
    h3 Invitaci&oacute;n a sesi&oacute;n de consejer&iacute;a con estudiante
  .row.no-gutters(style='display: flex; box-sizing: border-box')
    .col-md-2.col-4(style='margin: 0 auto;')
      img(src=`${apiUrl}/img/calendar.png` alt='calendar' style='padding: 1em; max-width: 150px;')
    .col-md-10.col-12
      .card-body(style='flex: 1 1 auto;\
      min-height: 1px;\
      padding: 1.25rem;')
        h4.card-title T&iacute;tulo del evento
        p.card-text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      ul.list-group.list-group-flush(style='')
        li.list-group-item
          b
            img(src=`${apiUrl}/img/calendar-plus-solid.png` style='height: 1em;')
            |                         Fecha Inicio:
          |                      28 de octubre de 2020 09:29 PM
        li.list-group-item
          b
            img(src=`${apiUrl}/img/calendar-minus-solid.png` style='height: 1em;')
            |                         Fecha Fin:
          |                      28 de octubre de 2020 09:29 PM
        li.list-group-item
          b
            img(src=`${apiUrl}/img/marcador-de-posicion.png` style='height: 1em;')
            |                         Lugar:
          |                      https://join.skype.com/A0NoxcRLxlyx
        li.list-group-item
          b
            img(src=`${apiUrl}/img/usuarios.png` style='height: 1em;')
            |                         Participantes:
          ul
            li Kevin Escoto
            li Esmeralda L&oacute;pez
            li Ver&oacute;nica Reyes
